<div class='container'>
  <div class='row'>
    <h2>Training Set</h2>
    <%= link_to 'New Person', new_person_path,  remote: true, class: 'btn btn-primary btn-sm' %><br>
    <div id='person-form' style='display:none;'></div><br>
    <div id='people'><%= render @people %></div>
  </div><br>
</div>